In [2]:
import csv
import numpy as np
import pandas as pd

linkedin_learning_data = pd.read_csv('OnlineCourses.csv')
print(linkedin_learning_data)

    ll_total_hours  ll_total_minutes  ll_python_hours  ll_python_minutes  \
0                2                 3              2.0                3.0
1                2                58              2.0               58.0
2                3                54              3.0               54.0
3                6                 2              6.0                2.0
4                2                19              2.0               19.0
..             ...               ...              ...                ...
87               0                14              NaN                NaN
88               0                13              NaN                NaN
89               0                19              NaN                NaN
90               0                22              NaN                NaN
91               0                16              NaN                NaN

    ll_ds_hours  ll_ds_minutes  ll_sql_hours  ll_sql_minutes  ll_ml_hours  \
0           1.0           28.0           0.0            59.0          4.0
1           1.0           39.0           1.0            24.0          1.0
2           NaN            NaN           2.0            17.0          NaN
3           NaN            NaN           3.0             0.0          NaN
4           NaN            NaN           1.0            27.0          NaN
..          ...            ...           ...             ...          ...
87          NaN            NaN           NaN             NaN          NaN
88          NaN            NaN           NaN             NaN          NaN
89          NaN            NaN           NaN             NaN          NaN
90          NaN            NaN           NaN             NaN          NaN
91          NaN            NaN           NaN             NaN          NaN

    ll_ml_minutes  ...  ll_java_hours  ll_java_minutes  ll_pd_hours  \
0            14.0  ...            2.0             39.0          0.0
1            38.0  ...            NaN              NaN          0.0
2             NaN  ...            NaN              NaN          0.0
3             NaN  ...            NaN              NaN          0.0
4             NaN  ...            NaN              NaN          0.0
..            ...  ...            ...              ...          ...
87            NaN  ...            NaN              NaN          NaN
88            NaN  ...            NaN              NaN          NaN
89            NaN  ...            NaN              NaN          NaN
90            NaN  ...            NaN              NaN          NaN
91            NaN  ...            NaN              NaN          NaN

    ll_pd_minutes  ll_git_hours  ll_git_minutes  ll_office_hours  \
0            23.0           2.0            11.0              2.0
1            25.0           2.0            55.0              2.0
2            29.0           NaN             NaN              1.0
3            17.0           NaN             NaN              NaN
4            14.0           NaN             NaN              NaN
..            ...           ...             ...              ...
87            NaN           NaN             NaN              NaN
88            NaN           NaN             NaN              NaN
89            NaN           NaN             NaN              NaN
90            NaN           NaN             NaN              NaN
91            NaN           NaN             NaN              NaN

    ll_office_minutes  ll_matlab_hours  ll_matlab_minutes
0                31.0              1.0               13.0
1                 8.0              NaN                NaN
2                16.0              NaN                NaN
3                 NaN              NaN                NaN
4                 NaN              NaN                NaN
..                ...              ...                ...
87                NaN              NaN                NaN
88                NaN              NaN                NaN
89                NaN              NaN                NaN
90                NaN              NaN                NaN
91                NaN              NaN                NaN

[92 rows x 26 columns]

In [67]:
ll_total_hours = np.nansum(linkedin_learning_data['ll_total_hours'])
print(ll_total_hours)

ll_total_minutes_in_hours = np.nansum(linkedin_learning_data['ll_total_minutes'] / 60)
print(ll_total_minutes_in_hours)

ll_total_time = round((ll_total_hours + ll_total_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses as a decimal is: {ll_total_time}')

ll_total_decimal_hours_in_mins = float(str(ll_total_minutes_in_hours - int(ll_total_minutes_in_hours))) * 60

ll_total_hours_min_time = round((ll_total_hours + int(ll_total_minutes_in_hours) + (ll_total_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses in hours and minutes is: {str(ll_total_hours_min_time)[:-3]} hours {str(ll_total_hours_min_time)[4:]} minutes')

137
44.13333333333334
Total time spent completing LinkedIn Learning courses as a decimal is: 181.13
Total time spent completing LinkedIn Learning courses in hours and minutes is: 181 hours 08 minutes

In [63]:
ll_python_hours = np.nansum(linkedin_learning_data['ll_python_hours'])
print(ll_python_hours)

ll_python_minutes_in_hours = np.nansum(linkedin_learning_data['ll_python_minutes'] / 60)
print(ll_python_minutes_in_hours)

ll_python_time = round((ll_python_hours + ll_python_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Python as a decimal is: {ll_python_time}')

ll_python_decimal_hours_in_mins = float(str(ll_python_minutes_in_hours - int(ll_python_minutes_in_hours))) * 60

ll_python_hours_min_time = round((ll_python_hours + int(ll_python_minutes_in_hours) + (ll_python_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Python in hours and minutes is: {str(ll_python_hours_min_time)[:-3]} hours {str(ll_python_hours_min_time)[3:]} minutes')

55.0
14.85
Total time spent completing LinkedIn Learning courses on Python as a decimal is: 69.85
Total time spent completing LinkedIn Learning courses on Python in hours and minutes is: 69 hours 51 minutes

In [71]:
ll_ds_hours = np.nansum(linkedin_learning_data['ll_ds_hours'])
print(ll_ds_hours)

ll_ds_minutes_in_hours = np.nansum(linkedin_learning_data['ll_ds_minutes'] / 60)
print(ll_ds_minutes_in_hours)

ll_ds_time = round((ll_ds_hours + ll_ds_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Data Science as a decimal is: {ll_ds_time}')

ll_ds_decimal_hours_in_mins = float(str(ll_ds_minutes_in_hours - int(ll_ds_minutes_in_hours))) * 60

ll_ds_hours_min_time = round((ll_ds_hours + int(ll_ds_minutes_in_hours) + (ll_ds_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Data Science in hours and minutes is: {str(ll_ds_hours_min_time)[:-3]} hours {str(ll_ds_hours_min_time)[2:]} minutes')

2.0
1.1166666666666667
Total time spent completing LinkedIn Learning courses on Data Science as a decimal is: 3.12
Total time spent completing LinkedIn Learning courses on Data Science in hours and minutes is: 3 hours 07 minutes

In [74]:
ll_sql_hours = np.nansum(linkedin_learning_data['ll_sql_hours'])
print(ll_sql_hours)

ll_sql_minutes_in_hours = np.nansum(linkedin_learning_data['ll_sql_minutes'] / 60)
print(ll_sql_minutes_in_hours)

ll_sql_time = round((ll_sql_hours + ll_sql_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on SQL as a decimal is: {ll_sql_time}')

ll_sql_decimal_hours_in_mins = float(str(ll_sql_minutes_in_hours - int(ll_sql_minutes_in_hours))) * 60

ll_sql_hours_min_time = round((ll_sql_hours + int(ll_sql_minutes_in_hours) + (ll_sql_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on SQL in hours and minutes is: {str(ll_sql_hours_min_time)[:-3]} hours {str(ll_sql_hours_min_time)[2:]} minutes')

7.0
2.1166666666666667
Total time spent completing LinkedIn Learning courses on SQL as a decimal is: 9.12
Total time spent completing LinkedIn Learning courses on SQL in hours and minutes is: 9 hours 07 minutes

In [75]:
ll_ml_hours = np.nansum(linkedin_learning_data['ll_ml_hours'])
print(ll_ml_hours)

ll_ml_minutes_in_hours = np.nansum(linkedin_learning_data['ll_ml_minutes'] / 60)
print(ll_ml_minutes_in_hours)

ll_ml_time = round((ll_ml_hours + ll_ml_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Machine Learning as a decimal is: {ll_ml_time}')

ll_ml_decimal_hours_in_mins = float(str(ll_ml_minutes_in_hours - int(ll_ml_minutes_in_hours))) * 60

ll_ml_hours_min_time = round((ll_ml_hours + int(ll_ml_minutes_in_hours) + (ll_ml_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Machine Learning in hours and minutes is: {str(ll_ml_hours_min_time)[:-3]} hours {str(ll_ml_hours_min_time)[2:]} minutes')

5.87
5.0
0.8666666666666667
Total time spent completing LinkedIn Learning courses on Machine Learning as a decimal is: 5.87
Total time spent completing LinkedIn Learning courses on Machine Learning in hours and minutes is: 5 hours 52 minutes

In [77]:
ll_programming_hours = np.nansum(linkedin_learning_data['ll_programming_hours'])
print(ll_programming_hours)

ll_programming_minutes_in_hours = np.nansum(linkedin_learning_data['ll_programming_minutes'] / 60)
print(ll_programming_minutes_in_hours)

ll_programming_time = round((ll_programming_hours + ll_programming_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on General Programming as a decimal is: {ll_programming_time}')

ll_programming_decimal_hours_in_mins = float(str(ll_programming_minutes_in_hours - int(ll_programming_minutes_in_hours))) * 60

ll_programming_hours_min_time = round((ll_programming_hours + int(ll_programming_minutes_in_hours) + (ll_programming_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on General Programming in hours and minutes is: {str(ll_programming_hours_min_time)[:-3]} hours {str(ll_programming_hours_min_time)[3:]} minutes')

30.25
22.0
8.25
Total time spent completing LinkedIn Learning courses on General Programming as a decimal is: 30.25
Total time spent completing LinkedIn Learning courses on General Programming in hours and minutes is: 30 hours 15 minutes

In [78]:
ll_htmlcss_hours = np.nansum(linkedin_learning_data['ll_htmlcss_hours'])
print(ll_htmlcss_hours)

ll_htmlcss_minutes_in_hours = np.nansum(linkedin_learning_data['ll_htmlcss_minutes'] / 60)
print(ll_htmlcss_minutes_in_hours)

ll_htmlcss_time = round((ll_htmlcss_hours + ll_htmlcss_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on HTML & CSS as a decimal is: {ll_htmlcss_time}')

ll_htmlcss_decimal_hours_in_mins = float(str(ll_htmlcss_minutes_in_hours - int(ll_htmlcss_minutes_in_hours))) * 60

ll_htmlcss_hours_min_time = round((ll_htmlcss_hours + int(ll_htmlcss_minutes_in_hours) + (ll_htmlcss_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on HTML & CSS in hours and minutes is: {str(ll_htmlcss_hours_min_time)[:-3]} hours {str(ll_htmlcss_hours_min_time)[3:]} minutes')

28.45
23.0
5.449999999999999
Total time spent completing LinkedIn Learning courses on HTML & CSS as a decimal is: 28.45
Total time spent completing LinkedIn Learning courses on HTML & CSS in hours and minutes is: 28 hours 27 minutes

In [79]:
ll_javascript_hours = np.nansum(linkedin_learning_data['ll_javascript_hours'])
print(ll_javascript_hours)

ll_javascript_minutes_in_hours = np.nansum(linkedin_learning_data['ll_javascript_minutes'] / 60)
print(ll_javascript_minutes_in_hours)

ll_javascript_time = round((ll_javascript_hours + ll_javascript_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on JavaScript as a decimal is: {ll_javascript_time}')

ll_javascript_decimal_hours_in_mins = float(str(ll_javascript_minutes_in_hours - int(ll_javascript_minutes_in_hours))) * 60

ll_javascript_hours_min_time = round((ll_javascript_hours + int(ll_javascript_minutes_in_hours) + (ll_javascript_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on JavaScript in hours and minutes is: {str(ll_javascript_hours_min_time)[:-3]} hours {str(ll_javascript_hours_min_time)[3:]} minutes')

16.63
11.0
5.633333333333333
Total time spent completing LinkedIn Learning courses on JavaScript as a decimal is: 16.63
Total time spent completing LinkedIn Learning courses on JavaScript in hours and minutes is: 16 hours 38 minutes

In [82]:
ll_java_hours = np.nansum(linkedin_learning_data['ll_java_hours'])
print(ll_java_hours)

ll_java_minutes_in_hours = np.nansum(linkedin_learning_data['ll_java_minutes'] / 60)
print(ll_java_minutes_in_hours)

ll_java_time = round((ll_java_hours + ll_java_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Java as a decimal is: {ll_java_time}')

ll_java_decimal_hours_in_mins = float(str(ll_java_minutes_in_hours - int(ll_java_minutes_in_hours))) * 60

ll_java_hours_min_time = round((ll_java_hours + int(ll_java_minutes_in_hours) + (ll_java_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Java in hours and minutes is: {str(ll_java_hours_min_time)[:-3]} hours {str(ll_java_hours_min_time)[2:]} minutes')

2.65
2.0
0.65
Total time spent completing LinkedIn Learning courses on Java as a decimal is: 2.65
Total time spent completing LinkedIn Learning courses on Java in hours and minutes is: 2 hours 39 minutes

In [84]:
ll_pd_hours = np.nansum(linkedin_learning_data['ll_pd_hours'])
print(ll_pd_hours)

ll_pd_minutes_in_hours = np.nansum(linkedin_learning_data['ll_pd_minutes'] / 60)
print(ll_pd_minutes_in_hours)

ll_pd_time = round((ll_pd_hours + ll_pd_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Personal Development as a decimal is: {ll_pd_time}')

ll_pd_decimal_hours_in_mins = float(str(ll_pd_minutes_in_hours - int(ll_pd_minutes_in_hours))) * 60

ll_pd_hours_min_time = round((ll_pd_hours + int(ll_pd_minutes_in_hours) + (ll_pd_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Personal Development in hours and minutes is: {str(ll_pd_hours_min_time)[:-3]} hours {str(ll_pd_hours_min_time)[2:]} minutes')

0.0
2.966666666666667
Total time spent completing LinkedIn Learning courses on Personal Development as a decimal is: 2.97
Total time spent completing LinkedIn Learning courses on Personal Development in hours and minutes is: 2 hours 58 minutes

In [86]:
ll_git_hours = np.nansum(linkedin_learning_data['ll_git_hours'])
print(ll_git_hours)

ll_git_minutes_in_hours = np.nansum(linkedin_learning_data['ll_git_minutes'] / 60)
print(ll_git_minutes_in_hours)

ll_git_time = round((ll_git_hours + ll_git_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Git as a decimal is: {ll_git_time}')

ll_git_decimal_hours_in_mins = float(str(ll_git_minutes_in_hours - int(ll_git_minutes_in_hours))) * 60

ll_git_hours_min_time = round((ll_git_hours + int(ll_git_minutes_in_hours) + (ll_git_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Git in hours and minutes is: {str(ll_git_hours_min_time)[:-3]} hours {str(ll_git_hours_min_time)[2:]} minutes')

4.0
1.0999999999999999
Total time spent completing LinkedIn Learning courses on Git as a decimal is: 5.1
Total time spent completing LinkedIn Learning courses on Git in hours and minutes is: 5 hours 06 minutes

In [88]:
ll_office_hours = np.nansum(linkedin_learning_data['ll_office_hours'])
print(ll_office_hours)

ll_office_minutes_in_hours = np.nansum(linkedin_learning_data['ll_office_minutes'] / 60)
print(ll_office_minutes_in_hours)

ll_office_time = round((ll_office_hours + ll_office_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on Microsoft Word, Excel and PowerPoint as a decimal is: {ll_office_time}')

ll_office_decimal_hours_in_mins = float(str(ll_office_minutes_in_hours - int(ll_office_minutes_in_hours))) * 60

ll_office_hours_min_time = round((ll_office_hours + int(ll_office_minutes_in_hours) + (ll_office_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on Microsoft Word, Excel and PowerPoint in hours and minutes is: {str(ll_office_hours_min_time)[:-3]} hours {str(ll_office_hours_min_time)[2:]} minutes')

5.0
0.9166666666666667
Total time spent completing LinkedIn Learning courses on Microsoft Word, Excel and PowerPoint as a decimal is: 5.92
Total time spent completing LinkedIn Learning courses on Microsoft Word, Excel and PowerPoint in hours and minutes is: 5 hours 55 minutes

In [90]:
ll_matlab_hours = np.nansum(linkedin_learning_data['ll_matlab_hours'])
print(ll_matlab_hours)

ll_matlab_minutes_in_hours = np.nansum(linkedin_learning_data['ll_matlab_minutes'] / 60)
print(ll_matlab_minutes_in_hours)

ll_matlab_time = round((ll_matlab_hours + ll_matlab_minutes_in_hours), 2)
print(f'Total time spent completing LinkedIn Learning courses on MATLAB as a decimal is: {ll_matlab_time}')

ll_matlab_decimal_hours_in_mins = float(str(ll_matlab_minutes_in_hours - int(ll_matlab_minutes_in_hours))) * 60

ll_matlab_hours_min_time = round((ll_matlab_hours + int(ll_matlab_minutes_in_hours) + (ll_matlab_decimal_hours_in_mins / 100)), 2)
print(f'Total time spent completing LinkedIn Learning courses on MATLAB in hours and minutes is: {str(ll_matlab_hours_min_time)[:-3]} hours {str(ll_matlab_hours_min_time)[2:]} minutes')

1.0
0.21666666666666667
Total time spent completing LinkedIn Learning courses on MATLAB as a decimal is: 1.22
Total time spent completing LinkedIn Learning courses on MATLAB in hours and minutes is: 1 hours 13 minutes